.idea
.iml
target
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.iml
*.xml
*.md
JS/
*.dtd
LICENSE
Net/


${project.build.directory}/
target/
.classpath
.project
.settings

*.DS_Store
[Tt]humbs.db
# Default ignored files
/shelf/
/workspace.xml
.idea/
/.idea
out/
/out
